.userItems {
    display: block;
    width: 100%;
    padding: 15px;
}

.userItem {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    vertical-align: top;
}

.userLeft {
    display: inline-block;
    border: 1px solid rebeccapurple;
    width: 15%;
    margin-right: 15px;
    padding: 15px;
    text-align: center;
}

.userPhoto {

}

.userPhoto img {
    width: 120px;
    height: 120px;
}

.userName {

}

.userRight {
    display: inline-block;
    border: 1px solid rgb(118, 206, 17);
    width: 75%;
}

.userInfo {
    padding: 15px;
}

.userStatus {

}

.userLocation {

}

.userCity {

}

.userCountry {

}

span.active {
    font-weight: bold;
}

span.active > span.page {
    background-color: rgb(118, 206, 17);
    border-color: rgb(118, 206, 17);
    color: #ffffff;
}

span > span.page {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    max-width: 30px;
    width: 100%;
    max-height: 30px;
    height: 100%;
    padding: 5px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}