.textarea {
    background: #eeeeee;
    margin: 15px 0;
    padding: 15px;
    height: 50px;
}

.btn.sendPost {
  margin: 15px 0;
  background: #e67f24;
  color: #ffffff;
  float: right;
  padding: 3px 50px 3px 10px;
  cursor: pointer;
}

.addPost {
    width: 90%;
}